<%# <div class= "container">
  <div class="position-relative">
    <div class="card-trip">
      <img src="https://source.unsplash.com/random/<%= @car.model"> %>
      <%# <h1><%= @car.model</h1> %>
      <%# <h3>This car costs $<%= @car.price</h3> %>
    <%# </div>
  <div>
    <p><%= @car.model is the perfect car for you. It has low mileage and burns liitle amounts of fuel. %>
    <%# Perfect for sightseeing and cruising with friends. Air condition in perfect state.<p> %>
  <%# </div> %>
  <%# <div> %>
     <%# <button type="button" class="btn btn-primary"> %>
        <%# Book this Car %>
      <%# # </button> %>
      <%# <%= link_to " this list", list_path(@booking) %>
      <%# <button type="button" class="btn btn-secondary"><%= link_to 'Back', cars_path</button> %>
  <%# </div> %>


<div class="container margin-top-negative p-5">
  <%# <div class="map" style="background-image: url('https://loremflickr.com/320/240/<%= @car.model')"></div> %>
  <div class="row">
    <div class="col-8">
      <div class="car-show-card">
        <h1><%= @car.model %></h1>
        <%# <p class="car-show-address"><%= @car.price</p> %>
      </div>
      <div class="car-show-card">
          <img src="https://loremflickr.com/320/240/<%= @car.model %>" class="img-fluid" alt="Responsive image">
      </div>
    </div>

    <div class="col-4 mt-5">
      <div class="car-show-card mt-5">
        <h5>Book this Car</h5>

        <div>
        <p class ="center">New Booking Form</p>
          <%= simple_form_for [@car, Booking.new] do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>

            <%= f.button :submit, "Book Me" , class: "btn btn-success" %>
            <%= link_to  "Back", cars_path , class: "btn btn-info" %>
          <% end %>

        <div>
      </div>
      <div class="car-show-card">
        <h3>Price</h3>
        <div class="flex">
          <div class="flex ml-3">
            <i class="material-icons mr-2">$</i> <%= @car.price %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
