<%# <div class="container margin-top-negative p-5">
  <div class="row">
    <div class="col-8">
      <div class="car-show-card">
        <h1><%= @car.model %></h1>
        <%# <p class="car-show-address"><%= @car.price</p> %>
      <%# </div>
      <div class="car-show-card">
          <%= cl_image_tag @car.photo.key, width: 200, height: 200, crop: :fill %>
      <%# </div>
    </div>

    <div class="col-4 mt-5">
      <div class="car-show-card mt-5">
        <h5>Book this Car</h5>

        <div>
        <p class ="center">New Booking Form</p>

        <div>
      </div>
      <div class="car-show-card">
        <h3>Price</h3>
        <div class="flex">
          <div class="flex ml-3">
            <i class="material-icons mr-2">$</i>
          <%# </div>
        </div>
      </div>
    </div>
  </div>
</div> %>
<div class="row g-0">
  <div  class="col-sm-6 col-md-8">
    <br>
    <br>
    <br>
    <div>
      <%= cl_image_tag @car.photo.key, width: 200, height: 200, crop: :fill, class:" shadow-lg img-fluid" %>
    </div>

    <div>
    </div>
  </div>

  <div class="col-6 col-md-4 ps-3">
    <br>
    <br>
    <br>
    <h1 class= "text-center">Cost per day</h1>
    <h1 class= "text-center">$ <%= @car.price %></h1>
    <br>
    <br>
    <h2>Book for</h2>

    <%= simple_form_for [@car, Booking.new] do |f| %>
      <%= f.input :start_date %>
      <br>
      <%= f.input :end_date %>
      <br>

      <%= f.button :submit, "Book Me" , class: "btn btn-success  d-grid gap-2 col-6 mx-auto my-2 rounded-3" %>
      <%= link_to  "Back", cars_path , class: "btn btn-outline-warning  d-grid gap-2 col-6 mx-auto my-2 rounded-3" %>
    <% end %>

  </div>
</div>
