<!DOCTYPE html>
<html>
  <head>
    <title>CarRental</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
  <div class="bg-img"style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');">
    <%= render 'shared/navbar' %>

   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>

  </div>

   <div class="container">
      <%= yield %>
   </div>

  </body>
</html>
